html
{
    position: relative; 
    min-height: 100%;
}

body
{
    margin: 0 0 65px;
}

footer,#footer
{
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 65px;
}

body > .container
{
    padding-top: 60px;
}

header
{
    padding: 5px 5px 5px 5px;
}


.boton_completo{
    width: 100%;
}

/* Sticky footer styles
-------------------------------------------------- */
/* Set the fixed height of the footer here */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#bottomNav {
	padding:10px;
}
#bottomNav a {
    font-size:24pt;
    color:#ddd;
    text-decoration:none;
}
#bottomNav a:hover {
    color:#fff;
}